{% extends "index.html" %}
{% block content %}
    <h1>ADFGVX DEcryption</h1>
    <p>Copy and Paste your decrypted cipher text below and click decrypt to return the hidden plain text</p>
    <form method="post">
        <textarea name=C_text></textarea>
        <p>ADFGVX shift are encrypted with a key matrix a 6x6 grid of every letter and number 0-9 and a key word</p>
        <div class="row">
                <div class="six columns">
                  <label for="key_matrix">Key Matrix:</label>
                  <input name=key_matrix class="u-full-width" type="string" placeholder="ph0qg64mea1yl2nofdxkr3cvs5zw7bj9uti8">
                </div>
                <div class="six columns">
                    <label for="key_integer">Key word: </label>
                    <input name=key_integer class="u-full-width" type="integer" placeholder="benedict">      
                </div>
              </div>
              {% if show_error %}
              <div style="color: crimson">
                  Error 200: Please enter a integer and a matrix of length 36 Please, and make sure plaintext length is divisible by key word length :)
              </div>
              {% endif %}
            <div>
                <input type=submit value=Encrypt> 
            </div>
    </form>

    <textarea>{{Cipher_text}}</textarea>

    <form method="post">
        <output type=text name=C_text>
    </form>
{% endblock content %}