{% extends "index.html" %} {% block content %}
<h1>Cryptanalysis</h1>
<div>
  Here you can find hidden information in your cipher text which reveals which
  classical cipher it has been encrypted with.
</div>
<div>
  The frequency distribution and Index of coincidence can reveal language and
  the encryption algorithm used.
</div>
<form method="post" style="margin-bottom: 65px">
  <textarea name="C_text" placeholder="Enter text here..."></textarea>
  <input style="float: right" type="submit" value="Analyize Text" />
</form>
<h1>Character Frequency Analysis</h1>
<canvas
  id="myChart"
  width="950"
  height="200"
  style="margin-bottom: 25px"
></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

<script>
  const freq = "{{Frequency}}".slice(1, -1).split(", ");
  const sum = freq.reduce((acc, elem) => acc + parseFloat(elem), 0);
  const percentages = sum ? freq.map(elem => elem / sum) : freq;

  var EngFreq = [
    "0.0812",
    "0.01492",
    "0.02782",
    "0.04253",
    "0.12702",
    "0.02228",
    "0.02015",
    "0.06094",
    "0.06966",
    "0.00153",
    "0.00772",
    "0.04025",
    "0.02406",
    "0.06749",
    "0.07507",
    "0.01929",
    "0.00095",
    "0.05987",
    "0.06327",
    "0.09056",
    "0.02758",
    "0.00978",
    "0.02360",
    "0.00150",
    "0.01974",
    "0.00074"
  ];

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z"
      ],
      datasets: [
        {
          label: "Cipher Character Frequencies",
          data: percentages,
          backgroundColor: [
            "rgba(227, 38, 28, 0.3)",
            "rgba(227, 65, 28, 0.3)",
            "rgba(227, 84, 28, 0.3)",
            "rgba(227, 104, 28, 0.3)",
            "rgba(227, 121, 28, 0.3)",
            "rgba(227, 151, 28, 0.3)",
            "rgba(227, 197, 28, 0.3)",
            "rgba(220, 227, 28, 0.3)",
            "rgba(190, 227, 28, 0.3)",
            "rgba(161, 227, 28, 0.3)",
            "rgba(128, 227, 28, 0.3)",
            "rgba(51, 227, 28, 0.3)",
            "rgba(28, 227, 78, 0.3)",
            "rgba(28, 227, 128, 0.3)",
            "rgba(28, 227, 157, 0.3)",
            "rgba(28, 227, 200, 0.3)",
            "rgba(28, 214, 227, 0.3)",
            "rgba(28, 141, 227, 0.3)",
            "rgba(28, 104, 227, 0.3)",
            "rgba(28, 65, 227, 0.3)",
            "rgba(108, 28, 227, 0.3)",
            "rgba(144, 28, 227, 0.3)",
            "rgba(200, 28, 227, 0.3)",
            "rgba(227, 28, 210, 0.3)",
            "rgba(227, 28, 111, 0.3)",
            "rgba(227, 28, 38, 0.3)"
          ],
          borderColor: [
            "rgba(227, 38, 28, 1)",
            "rgba(227, 65, 28, 1)",
            "rgba(227, 84, 28, 1)",
            "rgba(227, 104, 28, 1)",
            "rgba(227, 121, 28, 1)",
            "rgba(227, 151, 28, 1)",
            "rgba(227, 197, 28, 1)",
            "rgba(220, 227, 28, 1)",
            "rgba(190, 227, 28, 1)",
            "rgba(161, 227, 28, 1)",
            "rgba(128, 227, 28, 1)",
            "rgba(51, 227, 28, 1)",
            "rgba(28, 227, 78, 1)",
            "rgba(28, 227, 128, 1)",
            "rgba(28, 227, 157, 1)",
            "rgba(28, 227, 200, 1)",
            "rgba(28, 214, 227, 1)",
            "rgba(28, 141, 227, 1)",
            "rgba(28, 104, 227, 1)",
            "rgba(28, 65, 227, 1)",
            "rgba(108, 28, 227, 1)",
            "rgba(144, 28, 227, 1)",
            "rgba(200, 28, 227, 1)",
            "rgba(227, 28, 210, 1)",
            "rgba(227, 28, 111, 1)",
            "rgba(227, 28, 38, 1)"
          ],
          borderWidth: 1
        },
        {
          label: "English Language Frequencies",
          data: EngFreq,
          backgroundColor: [
            "rgba(227, 38, 28, 0.3)",
            "rgba(227, 65, 28, 0.3)",
            "rgba(227, 84, 28, 0.3)",
            "rgba(227, 104, 28, 0.3)",
            "rgba(227, 121, 28, 0.3)",
            "rgba(227, 151, 28, 0.3)",
            "rgba(227, 197, 28, 0.3)",
            "rgba(220, 227, 28, 0.3)",
            "rgba(190, 227, 28, 0.3)",
            "rgba(161, 227, 28, 0.3)",
            "rgba(128, 227, 28, 0.3)",
            "rgba(51, 227, 28, 0.3)",
            "rgba(28, 227, 78, 0.3)",
            "rgba(28, 227, 128, 0.3)",
            "rgba(28, 227, 157, 0.3)",
            "rgba(28, 227, 200, 0.3)",
            "rgba(28, 214, 227, 0.3)",
            "rgba(28, 141, 227, 0.3)",
            "rgba(28, 104, 227, 0.3)",
            "rgba(28, 65, 227, 0.3)",
            "rgba(108, 28, 227, 0.3)",
            "rgba(144, 28, 227, 0.3)",
            "rgba(200, 28, 227, 0.3)",
            "rgba(227, 28, 210, 0.3)",
            "rgba(227, 28, 111, 0.3)",
            "rgba(227, 28, 38, 0.3)"
          ],
          borderColor: [
            "rgba(227, 38, 28, 1)",
            "rgba(227, 65, 28, 1)",
            "rgba(227, 84, 28, 1)",
            "rgba(227, 104, 28, 1)",
            "rgba(227, 121, 28, 1)",
            "rgba(227, 151, 28, 1)",
            "rgba(227, 197, 28, 1)",
            "rgba(220, 227, 28, 1)",
            "rgba(190, 227, 28, 1)",
            "rgba(161, 227, 28, 1)",
            "rgba(128, 227, 28, 1)",
            "rgba(51, 227, 28, 1)",
            "rgba(28, 227, 78, 1)",
            "rgba(28, 227, 128, 1)",
            "rgba(28, 227, 157, 1)",
            "rgba(28, 227, 200, 1)",
            "rgba(28, 214, 227, 1)",
            "rgba(28, 141, 227, 1)",
            "rgba(28, 104, 227, 1)",
            "rgba(28, 65, 227, 1)",
            "rgba(108, 28, 227, 1)",
            "rgba(144, 28, 227, 1)",
            "rgba(200, 28, 227, 1)",
            "rgba(227, 28, 210, 1)",
            "rgba(227, 28, 111, 1)",
            "rgba(227, 28, 38, 1)"
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ]
      }
    }
  });
</script>
<h5>How to Analyize Monogram Character Frequency</h5>
<p>
  The flatter the frequency distribution curve is the more encrypted your cipher
  text is this is because differences in Character count can provide weaknesses
  in security for example if the frequency distribution is just as varient as
  english text we know the encryption is either monoalphabetic or
  transpositional as it does not change character Frequencies.
</p>
<h1>Index of Coindidence Analysis</h1>
<canvas
  id="myChart2"
  width="950"
  height="200"
  style="margin-bottom: 25px"
></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

<script>
  var ctx = document.getElementById("myChart2");
  var myChart2 = new Chart(ctx, {
    type: "horizontalBar",
    data: {
      labels: [
        "CipherText",
        "English Language",
        "French Language",
        "Polyalphabetic"
      ],
      datasets: [
        {
          label: "Index Of Coincidence",
          data: ["{{IOC}}", "1.7", "1.2", "0.8"],
          backgroundColor: [
            "rgba(2, 0, 47, 0.3)",
            "rgba(2, 0, 77, 0.3)",
            "rgba(2, 0, 100, 0.3)",
            "rgba(2, 0, 130, 0.3)"
          ],
          borderColor: [
            "rgba(2, 0, 47, 1)",
            "rgba(2, 0, 77, 1)",
            "rgba(2, 0, 100, 1)",
            "rgba(2, 0, 130, 1)"
          ],
          borderWidth: 1
        }
      ]
    }
  });
</script>

<h5>How to Analyize Index of Coincidence</h5>
<p>
  The index of coincidence is a magnitude of measure of the probability of
  knowing the next letter in a string of text given the previous letter, so in
  laymans terms its a measures of how many patterns there are in the text. As
  each encryption method leaves traces of its own signature patterns within the
  cipher text this is probably the most useful data point for the neural network
  to detect the cipher encyption method.
</p>

<h1>Chi Squared Score for Character Frequency</h1>

<body>
  <div class="row">
    <div class="four columns">
      <div class="box-1">
        <p>{{ chi_squared_1 }}</p>
      </div>
    </div>
    <div class="eight columns">
      <h5>
        The Chi Squared test is a statistical model used to compared the
        similarity of two data sets
      </h5>
      <p>
        Here the two data sets being analyzed are your input character frequency
        and known english character frequency
      </p>
      <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      $$\sum_{k=1}^{N}{(O[k]-E[k]) \over E[k]}$$
      <p>
        Where N is length of the data set, O is the observed data set to the
        index k, E is the Expected data set to the index k
      </p>
    </div>
  </div>
</body>

<h1>Bhattacharyya distance for Character Frequency</h1>

<body>
  <div class="row">
    <div class="four columns">
      <div class="box-2">
        <p>{{ bhat_1 }}</p>
      </div>
    </div>
    <div class="eight columns">
      <h5>
        The Bhattacharyya distance is a measure of the similarity magnitude of
        two probability distributions
      </h5>
      <p>
        Here the two data sets being analyzed are your input character frequency
        and known english character frequency
      </p>
      <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      $$ln(&#x222b;\sqrt{O(x)E(x)}dx)$$
      <p>
        O is the observed data set to the index k, E is the Expected data set to
        the index k
      </p>
    </div>
  </div>
</body>

<h1>Ngram Entropic Comparison with English text scores</h1>

<body>
  <div align="center" class="row">
    <div class="three columns">
      <div class="circle3">
        <p>{{ chi_squared_2 }}</p>
      </div>
      <h3>Bigram</h3>
      <h4>Chi Squared Score</h4>
      <p>
        This is the same as the comparison algorith outlined above however its
        for each bigram "ab" in the text instead of monograms "a" therefore we
        have around 700 data points being computed in the summation
      </p>
    </div>
    <div class="three columns">
      <div class="circle3">
        <p>{{ bhat_2 }}</p>
      </div>
      <h3>Bigram</h3>
      <h4>Bhattaryya Score</h4>
      <p>
        This is also the same as the bhattaryya comparison algorith outlined
        above with bigrams aswell, this statistic is more commonly used than the
        chi squared scores in detecting how english the text is by humans as the
        magnitude of the number is more manageable
      </p>
    </div>
    <div class="three columns">
      <div class="circle3">
        <p>{{ chi_squared_3 }}</p>
      </div>
      <h3>Trigram</h3>
      <h4>Chi Squared Score</h4>
      <p>
        This number again follows the Chi Squared algorith with each trigram
        "abc" in the text instead of monograms "a". This requires significant
        care with the data handling as we are computing over 17,000 comparisons
        with the known english trigram statistics.
      </p>
    </div>
    <div class="three columns">
      <div class="circle3">
        <p>{{ bhat_3 }}</p>
      </div>
      <h3>Trigram</h3>
      <h4>Bhattaryya Score</h4>
      <p>
        This number is computed from the Bhattacharyya algorith above with
        trigrams, the larger n-gram you use for your "englishness" test function
        the more reliable as can compares with data holding more information
        about the subtle signature of english text.
      </p>
    </div>
  </div>
</body>

<style>
  .box {
    width: 400px;
    height: 200px;
    max-width: 100%;
    background: var(--bg2);
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .box-1 {
    border: 20px solid;
    border-image-source: url(static/blue_swirl.jpeg);
    border-image-slice: 60 30;
  }

  .box-2 {
    border: 20px solid;
    border-image-source: url(static/darkblue_swirl.jpeg);
    border-image-slice: 4000 3970;
  }

  .circle1 {
    border: 2.5em solid rgb(54, 135, 201);
    border-radius: 100%;
    height: 14em;
    width: 14em;
    text-align: center;
  }

  .circle1 p {
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(25, 144, 148);
  }

  .circle2 {
    border: 2.5em solid rgb(97, 32, 172);
    border-radius: 100%;
    height: 14em;
    width: 14em;
    text-align: center;
  }

  .circle2 p {
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(97, 32, 172);
  }

  .circle3 {
    border: 2.5em solid rgb(177, 27, 169);
    border-radius: 100%;
    height: 10em;
    width: 10em;
    text-align: center;
  }

  .circle3 p {
    margin-top: 1.5em;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(177, 27, 169);
  }
</style>

{% endblock content %}
