{% extends "index.html" %} {% block content %}
<h1>Encryption Home</h1>
<p>Click the Cipher type to obtain your Plain Text</p>
<body>
  <h1
    style=" border-left: 8px solid rgb(25, 144, 148);background-color: rgb(233, 233, 233);"
  >
    Monoalphabetic Ciphers
  </h1>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>ROT13</h3>
    <p>monoalphabetic cipher that rotates 13 places along alphabet</p>
    <div align="right">
      <a class="button button-primary" href="/encryption/rot13">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Caeser</h3>
    <p>
      monoalphabetic cipher that rotates every character input around the
      alphabet by a number of magnitude between 0 and 25 because there are only
      25 encryption possibilities this cipher is very suseptible to brute force
      attacks
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/caeser">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Atbash</h3>
    <p>
      monoalphabetic cipher that output the reverse text for example A = Z, B =
      Y, C =X
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/atbash">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Affine</h3>
    <p>
      monoalphabetic cipher that is more complex with a modulus function and two
      keys
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/affine">Encrypt</a>
    </div>
  </div>
  <p></p>
  <h1
    style=" border-left: 8px solid rgb(97, 32, 172);background-color: rgb(233, 233, 233);"
  >
    Polyalphabetic Ciphers
  </h1>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Vignere</h3>
    <p>
      monoalphabetic cipher similar to a ceaser yet it increments inteselt
      across each letter of the input key word
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/vigenere">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Beaufort</h3>
    <p>monoalphabetic cipher that is similar to Vignere</p>
    <div align="right">
      <a class="button button-primary" href="/encryption/beaufort">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Autokey</h3>
    <p>monoalphabetic cipher that uses a matrix as a key word</p>
    <div align="right">
      <a class="button button-primary" href="/encryption/autokey">Encrypt</a>
    </div>
  </div>
  <p></p>
  <h1
    style=" border-left: 8px solid rgb(177, 27, 169);background-color: rgb(233, 233, 233);"
  >
    Transpositional Ciphers
  </h1>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Columnar Transpositional</h3>
    <p>
      Transpositional cipher that changes the order but not the characters of
      the text
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/coltrans">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Bifid</h3>
    <p>monoalphabetic cipher involves matrix multiplication</p>
    <div align="right">
      <a class="button button-primary" href="/encryption/bifid">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>Porta</h3>
    <p>monoalphabetic cipher that rotates 13 places along alphabet</p>
    <div align="right">
      <a class="button button-primary" href="/encryption/porta">Encrypt</a>
    </div>
  </div>
  <p></p>
  <h1
    style=" border-left: 8px solid rgb(177, 27, 110);background-color: rgb(233, 233, 233);"
  >
    Modern Combination Ciphers
  </h1>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>ADFGX</h3>
    <p>
      Transposition and two subsitutions involving a output character set size
      of 5
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/coltrans">Encrypt</a>
    </div>
  </div>
  <p></p>
  <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
    <h3>ADFGVX</h3>
    <p>
      Transposition and two subsitutions involving a output character set size
      of 6
    </p>
    <div align="right">
      <a class="button button-primary" href="/encryption/bifid">Encrypt</a>
    </div>
  </div>
  <p></p>
</body>
{% endblock content %}
