{% extends "index.html" %}
{% block content %}
    <h1>Decryption Home</h1>
    <p>Click the Cipher type to obtain your Plain Text</p>
    <body>
        <h1 style=" border-left: 8px solid rgb(25, 144, 148);background-color: rgb(233, 233, 233);">Monoalphabetic Ciphers</h1>
            <div style="border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
                <h3>ROT13</h3>
                <p>monoalphabetic cipher that rotates 13 places along alphabet</p>
            </div>
            <p></p>
            <div style=" border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
                <h3>Ceaser</h3>
                <p>monoalphabet cipher of key between 0-26</p>
            </div>
            <p></p>
            <div style=" border: 3px solid rgb(233, 233, 233); border-radius: 5px;">
                <h3>Vignere</h3>
                <p>polyalphabetic cipher of keword and lenght anf characters</p>
            </div>
            <p></p>
        <h1 style=" border-left: 8px solid rgb(97, 32, 172);background-color: rgb(233, 233, 233);">Polyalphabetic Ciphers</h1>
        <h1 style=" border-left: 8px solid rgb(177, 27, 169);background-color: rgb(233, 233, 233);">Transpositional Ciphers</h1>
    </body>
{% endblock content %}
