{% extends "index.html" %} {% block content %}

<h1>Format your Cipher Text</h1>
<p>
  Format your Cipher Text here before decryption, remove white space, remove
  punctional, shift all lettters to lower case
</p>
<form method="post">
  <textarea type="text" name="C_text"></textarea>
  <div style="float: right; margin-bottom: 7.5px">
    <button name="format" type="submit" value="LowerCase">Lower Case</button>
    <button name="format" type="submit" value="RemoveSpaces">
      Remove Spaces
    </button>
    <button name="format" type="submit" value="RemovePunctuation">
      Remove Punctuation
    </button>
    <button
      name="format"
      type="submit"
      value="CompleteFormat"
      class="button-primary"
    >
      Complete Format
    </button>
  </div>
</form>

<textarea>{{ Cipher_text }}</textarea>
{% endblock content %}
