{% extends "index.html" %} {% block content %}

<h1>Format your Cipher Text</h1>
<p>
  Format your Cipher Text here before decryption using the following methods
</p>
<form method="post">
  <textarea type="text" name="C_text" placeholder="Enter text here...">{{
    C_text
  }}</textarea>
  <div style="float: right; margin-bottom: 7.5px">
    <button name="format" value="LowerCase">Lower Case</button>
    <button name="format" value="RemoveSpaces">
      Remove Spaces
    </button>
    <button name="format" value="RemovePunctuation">
      Remove Punctuation
    </button>
    <button name="format" value="CompleteFormat" class="button-primary">
      Complete Format
    </button>
  </div>
</form>

<textarea placeholder="Formatted text will appear here...">{{
  Cipher_text
}}</textarea>
{% endblock content %}
