{% extends "index.html" %} {% block content %}
<h1>Welcome to the Home menu</h1>
<div class="row">
  <div class="two columns">
    <a href="/format">
      <span style="font-size: 6em">
        <i class="fas fa-shield-alt"></i>
      </span>
    </a>
  </div>
  <div class="ten columns">
    <h5>
      Complete Decyption tool for classical ciphers
    </h5>
    <p>
      Copy and Paste the text to be formated into a lower case string without
      spaces or punctuation ready to be analysed in the following cryptanalysis
      page
    </p>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <a href="/cryptanalysis">
      <span style="font-size: 6em">
        <i class="fas fa-fingerprint"></i>
      </span>
    </a>
  </div>
  <div class="ten columns">
    <h5>
      Cutting Edge text analysis compiling 8 data scores
    </h5>
    <p>
      Every string of cipher text holds a hidden fingerprint in the pattern of
      sequence of characters this can be analysised to calculate encyption
      method with sublime accuracy with samples over 100 words
    </p>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <a href="/encryption">
      <span style="font-size: 6em">
        <i class="fas fa-key"></i>
      </span>
    </a>
  </div>
  <div class="ten columns">
    <h5>
      Efficient and Clean Encyption and Decryption
    </h5>
    <p>
      Simiply enter your key to decrypt or encrypt any cipher with the most
      Efficient algorithms implements in python with a natural flask framework
      for compatibility
    </p>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <a href="/deepLearning">
      <span style="font-size: 6em">
        <i class="fas fa-eye"></i>
      </span>
    </a>
  </div>
  <div class="ten columns">
    <h5>
      Neural Network Keyless Decryption & Encryption method Recognition
    </h5>
    <p>
      Inorperating all the data points given from the cyptanalysis page we have
      trained Deep Belief Neural Network to inteligently gather even more
      inforation about string of cipher text than a human will ever be able to
      do
    </p>
  </div>
</div>
{% endblock content %}
