{% extends "index.html" %}
{% block content %}
    <h1>Ceaser Cipher Encryption</h1>
    <p>Copy and Paste your decrypted cipher text below and click decrypt to return the hidden plain text</p>
    <form method="post">
        <textarea name=C_text></textarea>
        <div class="row">
            <div class="two columns">
                <label name=Key_number>Your Key:</label>
            </div>
            <div class="two columns"></div>
                <input name=Key_number class="u-full-width" type="integer" placeholder="3" id="Key_number">
            </div>
            {% if show_error %}
            <div style="color: crimson">
                Error 200: Please enter a integer between 0 and 26, Thankyou :)
            </div>
            {% endif %}
            <div>
                <input type=submit value=Encrypt> 
            </div>
    </form>

    <textarea>{{Cipher_text}}</textarea>

    <form method="post">
        <output type=text name=C_text>
    </form>
{% endblock content %}